MLApp/data/models
MLApp/data/training_datasets
MLApp/data/user_uploaded_test
MLApp/__pycache__
*.pth
.venv
flask-server/__pycache__
flask-server/venv
__pycache__
client/node_modules
docs/docs
docs/source
docs/make
docs/Makefile