blinker==1.8.2
click
eventlet
filelock
flask
flask-cors
fsspec
greenlet
itsdangerous
Jinja2
MarkupSafe
mpmath
networkx
numpy
pandas
pillow
python-dateutil
pytz
setuptools
six
sympy
torch
torchvision
typing_extensions
tzdata
Werkzeug
flask-socketio
